<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-12">
            •	Christopher D. Manning and Prabhakar Raghavan, and Hinrich Schutze, Introduction to Information Retrieval, Cambridge University Press, 2008 <br>
            •	Hang Li, Learning to Rank for Information Retrieval and Natural Language Processing, Morgan & Claypool, 2011 <br>
            •	Bhaskar Mitra and Nick Craswell, An Introduction to Neural Information Retrieval, Foundations and Trends in Information Retrieval, Vol. 13, No. 1, pp. 1-126, 2018 <br>
        </div>
    </div>
</div>
